.copied_item{
    width:80vw;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(220, 222, 230);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

.copied_item a{
    text-decoration: none;
    color: black;
}

.icons{
    margin-top: 0;
}

.cpy_btn{
    color:green;
    background-color: seagreen !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    text-transform: initial !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-bottom: 15px !important;
}

.delete_icon{
    margin-left: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    color:rgb(236, 91, 91);
    transition: transform 100ms ease-in-out;
}

.delete_icon :hover{
    transform: scale(1.1);
}